openai
sounddevice
wavio
google
google.cloud
streamlit
numpy
pyaudio
librosa
scipy
fastapi[all]
google-cloud-texttospeech
google-cloud-speech
pymongo[srv]
SQLAlchemy==2.0.7
moviepy
cloud-sql-python-connector
passlib
bcrypt
python-jose
python-multipart
pg8000
pymongo
pymysql
gTTS
googletrans
google_trans_new
