fastapi[all]
python-jose
googletrans==4.0.0rc1
pymongo
passlib
pydantic
pymongo[srv]
openai
python-multipart
google-cloud-texttospeech

# sounddevice
# wavio
# google
# google.cloud
# streamlit
# numpy
# pyaudio
# librosa
# scipy
# google-cloud-texttospeech
# google-cloud-speech
# SQLAlchemy==2.0.7
# moviepy
# cloud-sql-python-connector
# bcrypt
# python-jose
# pg8000
# pymysql
# gTTS
